body {
  background: url("../../assets/img/background.webp");
  background-attachment: fixed;
  background-size: cover;
  display: grid;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.frost-container {
  width: 20rem;
  height: 100rem;
  box-shadow: 0 0 1rem 0 rgba(0,0,0,0.2);
  border-radius: 5px;
  position: relative;
  z-index: 1;
  background: inherit;
  overflow: hidden;
}

@media (min-width: 992px) {
  .frost-container {
    width: 60rem;
    height: 40rem;
    box-shadow: 0 0 1rem 0 rgba(0,0,0,0.2);
    border-radius: 5px;
    position: relative;
    z-index: 1;
    background: inherit;
    overflow: hidden;
  }
}

.frost-container:before {
  content: "";
  position: absolute;
  background: inherit;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  box-shadow: inset 0 0 2000px rgba(64,64,64,0.64);
  filter: blur(10px);
  margin: -20px;
}

.info-div {
  padding: 30px;
}

.detail-card {
  background-color: #333;
  color: white;
  margin: 5px;
}

.info-content {
  font-family: 'JetBrains Mono';
  font-size: 28px;
}

.isp-name {
  font-family: 'JetBrains Mono';
  font-size: 20px;
}

.info-type {
  font-family: 'JetBrains Mono';
  color: #848484;
  text-transform: uppercase;
  font-size: 15px;
}

.user-flag {
  text-align: center;
}

